*,
*::before,
*::after {
  box-sizing: border-box;
}

/* global variables */
:root {
  --fs-xl: 4.8rem;
  --fs-l: 3.5rem;
  --fs-m: 1.5rem;
  --fs-s: 0.8rem;

  --c-gray: #6c6c6c;
  --c-main: #67a3e8;
  --c-accent: #174e81;
}

header {
  height: 75%;
  width: 25%;
  text-shadow: 0 0 12rem currentColor / 1.2;
  letter-spacing: -0.05em;
  text-shadow: 0 0 10rem black, 0 0 9rem black;
}

header h1 {
  color: white;
  font-size: var(--fs-l);
  line-height: 1.2;
}

header span {
  color: var(--c-main);
  font-size: var(--fs-xl);
  line-height: 80px;
  letter-spacing: -0.05em;
}

/* global setting */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--c-gray);
  background-image: url(/images/roads.jpg);
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 9rem 0 var(--c-main);
  padding: 5rem;
  border-radius: 15px;
}

.container {
  margin-block: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

@media screen and (min-width: 400px) {
}
